.navigation-menu {
  background-color: yellowgreen;
  font-weight: bold;
  color: black;
  margin: 5px;
  display: flex;
}
.navigation-menu .link {
  background: blanchedalmond;
  padding: 3px;
  border-radius: 4px;
  margin: 5px;
}
